.frame1 {
  background-image: url('../public/img/frame1.png'); /* Set the image as background */
  background-size: cover; /* Ensures the image covers the entire screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Set the frame to fill the full height of the viewport */
  width: 100vw; /* Set the frame to fill the full width of the viewport */
  position: relative; /* Allows for absolute positioning of the button */
}

.big-button {
  position: absolute; /* Position the button absolutely within the frame */
  bottom: 13%; /* Position it 25% from the bottom */
  right: 6%; /* Position it 25% from the right */
  height:120px;  
  width:320px;
  padding: 0;
  font-size: 24px;
  border: none;
  border-radius: 25%;
  display: block;
  background-color: #000000;
  color: white;
  cursor: pointer;
  z-index: 1; /* Ensure the button stays above the background */
  transition: background-color 0.3s ease;
}

.big-button:hover {
  background-color: #0056b3;
}